body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;

}

.hlavniFotka {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.vizitka {
    background: #fff;
    border-radius: 16px;
    padding: 30px 35px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.1em;
    color: #555;
    border: 1px solid #e0e0e0;

}

.vizitka:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;

}

.seznamDovednosti {
    list-style-type: square;
    padding-left: 20px;
    text-align: left;
    margin: 18px 0 0 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #00c8f8;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #40cbee;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;}